<img src="">



<h2><%= current_user.fname + " " + current_user.lname %></h2>

<h4>Edit Your Profile Information</h4>

<%= form_for @user do |f| %>
  <div id="edit_form_wrapper">
  <%=f.label "First Name" %>
  <%=f.text_field :fname %>
  <br>
  <%=f.label "Last Name" %>
  <%=f.text_field :lname %>
  <br>
  <%=f.label "Username" %>
  <%=f.text_field :username %>
  <br>
  <%=f.label "Password" %>
  <%=f.text_field :password %>
  </div>
  <%=f.submit :Update %>

<% end %>

<br><br><br>

  <% current_user.posts.reverse.each do |p| %>
    <div id="my_posts">
      <h3><%= p.title %></h3>
      <p><%= p.textarea %></p>
      <p><%= p.textarea %></p>
      <% if p.user_id == current_user.id %>
        <p><%= link_to("Delete Post", p, method: :delete) %></p>
      <% end %>
    </div>
  <% end %>

  <br><br>

  <div id="delete_button">
  <%= link_to("Delete Account", current_user, method: :delete) %>
  </div>
  <br><br><br>