<img src="">



<%= current_user.fname + " " + current_user.lname %>
<br>
<%= current_user.username %>


<h4>Edit Your Profile Information</h4>

<%= form_for @user do |f| %>

  <%=f.label "First Name" %>
  <%=f.text_field :fname %>
  <br>
  <%=f.label "Last Name" %>
  <%=f.text_field :lname %>
  <br>
  <%=f.label "Username" %>
  <%=f.text_field :username %>
  <br>
  <%=f.label "Password" %>
  <%=f.text_field :password %>
  <br>
  <%=f.submit :submit %>

<% end %>

<br><br><br>

<%= link_to("Delete Account", current_user, method: :delete) %>


  <% current_user.posts.each do |p| %>
  <h3>
    <%= p.title %>
  </h3>
  <h4>
    <%= p.user.username %>
  </h4>
  <p>
    <%= p.textarea %>
  </p>

  <% end %>