  <!-- REMEMBER TO MAKE THIS SHOW ALL USER'S COMMENTS, -->
  <!-- not just current_user's posts -->

  <% Post.all.reverse.each do |p| %>
  <div id="post_and_comments">
<div id="posts_wrapper">
  <!-- POST -->
    <h3><%= p.title %></h3>
    <h4><%= p.user.username %></h4>
    <p><%= p.textarea %></p>
    <p><%= link_to("Delete Post", p, method: :delete) %></p>
</div>


    <div id="comments_form_wrapper">
      <!-- COMMENT FORM -->
        <%= form_for Comment.new do |c| %>
          <%=c.label "Make a Comment" %>
          <br>
          <%=c.text_field :textarea %>
          <%=c.hidden_field :post_id, value: p.id %>
          <br>
          <%=c.submit :submit %>
        <% end %>
    </div>

            <div id="comments_wrapper">
              <!-- COMMENT -->
                <% p.comments.each do |c| %>
                  <p><%= c.user.fname %> <%= c.user.lname %>:</p>
                  <p id="comment_text"><%= c.textarea %></p>
                <% end %>
            </div>
  </div>

  <% end %>

 

 