<!DOCTYPE html>
<html>
<head>
  <title>Railsblog</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" type="text/css" href="rails-blog.css">
  <link href='http://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Quicksand' rel='stylesheet' type='text/css'>
</head>

<body>

<nav>

  <div id="unordered_list_wrapper">

    <ul class="navigation"><h1>Ribbit</h1>
      <% if current_user %>
      <li><a href="http://localhost:3000/profile">Profile</a></li>
      <% end %>
      <% if current_user %>
      <li><a href="http://localhost:3000/posts">Feed</a></li>
      <% end %>
      <% if current_user %>
      <li><a href="http://localhost:3000/logout">Sign Out</a></li>
      <% end %>
    </ul>

  </div>

<% if current_user %>
      <header>
        <%= form_for Post.new do |p| %>
          <%=p.label "Make a Post" %>
          <br>
          <%=p.text_field :title, placeholder: "Title"  %>
          <br>
          <%=p.text_field :textarea, placeholder: "Body"  %>
          <br>
          <%=p.submit :Post %>
        <% end %>
      </header>
      <% end %>
</nav>

<div id="yielded">

<%= yield %>

</div>


</body>
</html>
