<!DOCTYPE html>
<html>
<head>
  <title>Railsblog</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" type="text/css" href="rails-blog.css">
</head>
<body>

<nav>
  <div id="unordered_list_wrapper">
    <ul class="navigation">
      <li><a href="http://localhost:3000/profile">Profile</a></li>
      <li><a href="http://localhost:3000/posts">Feed</a></li>
      <% if current_user %>
       <%= link_to "Sign Out", '/logout', method: :delete %>
      <% end %>
      <div id="sign-in-link">
      <li><a href="http://localhost:3000/login_signup">Login/SignUp</a></li>
      </div>
    </ul>
  </div>
</nav>

<header>
  <%= form_for Post.new do |p| %>
    <%=p.label "Make a Post" %>
    <br>
    <%=p.text_field :title, placeholder: "Title"  %>
    <br>
    <%=p.text_field :textarea, placeholder: "Body"  %>
    <br>
    <%=p.submit :Post %>
  <% end %>
</header>

<div id="yielded">

<%= yield %>

</div>

<style type="text/css">
  
#sign-in-link {
  visibility: hidden;
}

</style>

</body>
</html>
