<!DOCTYPE html>
<html>
<head>
  <title>Railsblog</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<header>
  <% if current_user %>
    <%= link_to "Sign Out", '/logout', method: :delete %>
  <% else %>
    <%= form_tag '/sessions' do %>
      <%= text_field_tag :username, nil, placeholder: "Username" %>
      <%= password_field_tag :password, nil, placeholder: "Password" %>
      <%= submit_tag "Log In" %>
    <% end %>
  <% end %>

  <% if flash[:alert] %>
    <div style="background:yellow;">
      <%= flash[:alert] %>
    </div>
  <% end %>
</header>

<%= yield %>

</body>
</html>
